<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultados da Prova</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
<h2>Resultados</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Aluno</th>
        <th>Nota</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resposta : ${respostas}">
        <td th:text="${resposta.aluno.nome}"></td>
        <td th:text="${resposta.nota}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>